@import '../../style/Buttons.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Arial', sans-serif;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
  opacity: 0;
  transition: all linear 2s;
}

:root {
  --bgColor: #fff;
  --linkColor: #767676;
  --hoverColor: #000;
  --btnBorder: 1px solid #d1d1d1;
  --btnBoxShadow: 0 1px 1px #0000000a;
}
